@media(max-width: 770px) {

  body {
    background-size: 0;
    background-image: none;
  }

  .title {
    padding-top: 10%;
    font-size: 30px;
  }

  .btn-commencer {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .block1 {
    display: none;
  }

  .block2 {
    display: none;
  }

  .block3 {
    display: none;
  }

  .btn-hp {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .navbar {
    z-index: 10;
  }

  .telMSG {
    display: flex;
    margin-top: 15%;
    z-index: 0;
  }

}

@media(max-width: 1299px) and (min-width: 1020px) {

  .block1 {
    margin-top: -15%;
  }

  .block2 {
    margin-top: -5%;
  }

  .para2 {
    margin-right: 15%;
  }

  .block3 {
    margin-top: -330px;
    margin-bottom: 200px;
  }

  .telMSG {
    display: none;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

}

@media(min-width: 1300px) and (max-width: 1366px) {

  .block1 {
    margin-top: -30px;
  }

  .block2 {
    margin-top: 20px;
  }

  .block3 {
    margin-top: -350px;
    margin-bottom: 200px;
  }

  .para2 {
    margin-right: 10%;
  }

  .telMSG {
    display: none;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

}

@media(max-width: 1920px) and (min-width: 1367px) {
  .block2 {
    margin-top: 5%;
  }

  .block3 {
    margin-top: -20%;
    margin-bottom: 200px;
  }

  .telMSG {
    display: none;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

}

@media(min-width: 1921px) {
  .telMSG {
    display: none;
  }


  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

}

@font-face {
font-family: 'HelveticaNeue';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeue'), url('../font/HelveticaNeue.ttf') format('woff');
}


@font-face {
font-family: 'HelveticaNeueBd';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeueBd'), url('../font/HelveticaNeueBd.ttf') format('woff');
}

@font-face {
font-family: 'HelveticaNeue Thin';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeue Thin'), url('../font/HelveticaNeue Thin.ttf') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueLt';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeueLt'), url('../font/HelveticaNeueLt.ttf') format('woff');
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue Medium'), url('../font/HelveticaNeue Medium.ttf') format('woff');
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
  display: none;
}


.vlb {
  width: 30%;
  font-size: 20px;
}

.appear {
  opacity: 0;
  top: 200px;
}

.paragMain {
  margin-top: 2%;
  margin-left: 3%;
  width: 50%
}

.blcrel2 {
  margin-right: 20%;
}

.Title1 {
  margin-top: 45%;
  margin-left: 3%;
}

.Title3 {
  margin-top: 45%;
  margin-left: 3%;
}

.title {
  margin-top: 10%;
}

h1 {
  font-family: 'HelveticaNeue Medium';
  color: #23272A;
}

h5, p {
  font-family: 'HelveticaNeueLt';
  color: #23272A;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  border-radius: 3px;
}
.callout + .bs-callout {
  margin-top: -5px;
}

.callout-default {
  border-left-color: #777;
}
.callout-default h4 {
  color: #777;
}

.callout-primary {
  border-left-color: #428bca;
}
.callout-primary h4 {
  color: #428bca;
}

.callout-success {
  border-left-color: #5cb85c;
}
.callout-success h4 {
  color: #5cb85c;
}

.callout-danger {
  border-left-color: #d9534f;
}
.callout-danger h4 {
  color: #d9534f;
}

.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-warning h4 {
  color: #f0ad4e;
}

.callout-info {
  border-left-color: #5bc0de;
}
.callout-info h4 {
  color: #5bc0de;
}

.callout-bdc {
  border-left-color: #29527a;
}
.callout-bdc h4 {
  color: #29527a;
}

.buttona {
  color: white;
}

.buttona {
  color: white;
}

.buttona:hover {
  color: white;
  text-decoration: none;
}

::selection {
  background-color: #c6e5ee;
}